html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column; 
    overflow-x: hidden; 
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    flex: 1;
    overflow-wrap: break-word; 
    
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
}

header .logo img {
    height: 50px;
    width: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 40px 20px;
    max-width: 100%; 
    word-wrap: break-word;
}

.recipes-heading {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.divider {
    height: 2px;
    background-color: #ccc;
    margin-bottom: 40px;
}

.recipes-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.recipe-item {
    width: 30%;
    text-align: center;
    word-wrap: break-word; /* Разрешаем разбивать длинные слова */
}

.recipe-item img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-item p {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

.history p, .mission p, .values p {
    font-size: 20px; 
    max-width: 1200px;  
    line-height: 1.6;    
}


@media (max-width: 768px) {
    .recipes-container {
        flex-direction: column;
        align-items: center;
    }

    .recipe-item {
        width: 80%;
        margin-bottom: 20px;
    }
}


footer {
    margin-top: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.contact-info {
    display: flex;
    gap: 20px;
}

.contact-info .phone, .contact-info .email {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.icon {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
    vertical-align: middle; 
}
